<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="../assets/images/logo.jpg">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Inicio de Sesion!</h4>
							<form method="POST">
							 
								<div class="form-group">
									<label for="username"><i class="fa fa-user" aria-hidden="true"></i> Usuario</label>

									<input id="username" type="username" class="form-control" name="username" placeholder="Usuario" required autofocus>
								</div>

								<div class="form-group">
									<label for="password"><i class="fa fa-key" aria-hidden="true"></i> Contrasena
										<a href="forgot.html" class="float-right">
											Se me olvido la contrasena?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" placeholder="Contrasena" required data-eye>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" name="remember"> Recordarme?
									</label>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
											<i class="fa fa-sign-in" aria-hidden="true"></i> iniciar!
									</button>
								</div>
								<div class="margin-top20 text-center">
									Don't have an account? <a href="register.html">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2018 &mdash; Family's Food 
					</div>
				</div>
			</div>
		</div>
