
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img [src]="logo" width="90px" height="50px"></a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Inicio
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" routerLink="/dashboard">Clientes</a>
                <a class="dropdown-item" href="#">Usuarios</a>
                <a class="dropdown-item" href="#">productos</a>
              </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Seguridad
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Cambiar Password</a>
              <a class="dropdown-item" href="#">Roles</a>
              <a class="dropdown-item" href="#">Usuarios</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consultas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Errores</a>
                <a class="dropdown-item" href="#">Bitacora</a>
                <a class="dropdown-item" href="#">Bonos</a>
              </div>
          </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>


  <div class="container bg-light">
      <h1 class="text-center ">Bienvenido a Family's Food</h1>
      <hr>
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Ventas de Productos</h3>
                <form>

                    <div class="form-group">
                        <input type="text" class="form-control col-6" placeholder="Codigo del Producto" id="idProduct"> 
                    </div>
                  
                    <div class="form-group">
                      <button type="button" class="btn btn-outline-primary">Ingresar Producto</button>
                    </div>
                  
                  </form>
              </div>
            </div>
          </div>
      </div>

      <!-- here ends -->
      <div class="row">
          <div class="col-12">
               <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Importe</th>
                            <th>Stock</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of products">
                            <td>{{ product.productId }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.sellPrice }}</td>
                            <td>{{ product.currentAmount }}</td>
                          </tr>
                          <tr *ngIf="products?.length == 0">
                            <td colspan="3" class="no-data-available">No data!</td>
                          </tr>
                        </tbody>
                </table>
          </div>
      </div>
      <hr>

      <div class="row">
          <div class="col-12 mx-auto bg-info">
              <h6>I'm .col-4...</h6> use <code>.mx-auto</code> for grid cols
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-4 mx-auto">
              <div class="card card-body mb-2">
                  <h6>I'm .col-4</h6>
                  <code>.mx-auto</code>
              </div>
          </div>
          <div class="col-4 mx-auto">
              <div class="card card-body mb-2">
                  <h6>I'm .col-4</h6>
                  <code>.mx-auto</code>
              </div>
          </div>
          <div class="col-4 mx-auto">
              <div class="card card-body mb-2">
                  <h6>I'm .col-4</h6>
                  <code>.mx-auto</code>
              </div>
          </div>
          <div class="col-4 mx-auto">
              <div class="card card-body mb-2">
                  <h6>I'm .col-4</h6>
                  <code>.mx-auto</code> center uneven grid cols
              </div>
          </div>
      </div>
      <hr>
      <h4 class="text-center">Flexbox utils in Bootstrap 4</h4>
      <code>.row.justify-content-between</code>
      <div class="row justify-content-between">
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
      </div>
      <code>.row.justify-content-around</code>
      <div class="row justify-content-around">
          <div class="col-4">
              <div class="card card-body mb-2">col-4</div>
          </div>
          <div class="col-4">
              <div class="card card-body mb-2">col-4</div>
          </div>
      </div>
      <code>.row.justify-content-center</code>
      <div class="row justify-content-center">
          <div class="col-4">
              <div class="card card-body mb-2">col-6</div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-2">
              <div class="card card-body mb-2">col-2</div>
          </div>
          <div class="col-2">
              <div class="card card-body mb-2">col-2</div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-7">
              <div class="row">
                  <div class="col">
                      <div class="card card-body mb-2">col</div>
                  </div>
                  <div class="col">
                      <div class="d-flex card card-body mb-2">center</div>
                  </div>
                  <div class="col">
                      <div class="card card-body mb-2">col that is wider with content</div>
                  </div>
              </div>
          </div>
      </div>
      <h4 class="text-center">Flexbox with auto-margins</h4>
      <code>.row</code>
      <div class="row">
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
          <div class="col-3 mx-auto">
              <div class="card card-body mb-2">col-3 <code>.mx-auto</code></div>
          </div>
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
      </div>
      <div class="row">
          <div class="col-3">
              <div class="card card-body mb-2">col-3 with more content</div>
          </div>
          <div class="col-3 mx-auto">
              <div class="card card-body mb-2">col-3 <code>.mx-auto</code></div>
          </div>
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
      </div>
      <div class="row">
          <div class="col-3 mr-auto">
              <div class="card card-body mb-2">col-3 <code>.mr-auto</code></div>
          </div>
          <div class="col-3">
              <div class="card card-body mb-2">col-3</div>
          </div>
          <div class="col-3 ml-auto">
              <div class="card card-body mb-2">col-3 <code>.ml-auto</code></div>
          </div>
      </div>
  </div>
